* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    box-sizing: border-box;
    --prim: #0044ff;
}

body {
    background: var(--prim)!important;
}

#root {
    background-color: var(--prim);
}

.login-nav > input {
    margin-right: 1rem;
}

.item {
    padding: 5rem;
}

input {
    padding: 0.5rem; 
    margin-right: 2rem; 
}

input[type=text]:focus {
    color: white;
    background-color: #0044ff54;
  }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato';
}

.stockBar {
    /* background-color: #3761ec; */
    margin: -3rem 0 3rem 0;
}

.newStock {
    width: 100%;
    /* background-color: #3c49ff; */
}

.stockList {
    margin-top: 5rem;
}

/* UI COMPONENTS */

.ui.form {
    margin-top: 5rem;
}

/* .ui.buttons .button.active {
    background-color: #3c49ff;
    color: white;
} */

button.ui.button {
    background-color: #5d5e63;
    color: white;
    margin-right: 1rem;
}
button.ui.button:hover {
    background-color: white;
    /* color: white; */
}

.ui.button.delete{
    background-color: var(--prim);
    margin: 0;
    padding: .5rem;
}
.ui.button.delete:Hover{
    background-color: #ff0000;
    padding: .5rem;
}

.ui.inverted.top.fixed.menu {
    background-color: #2B2C30;
    /* margin-bottom: 5rem; */
}


.ui.celled.table {
    /* background-color: var(--prim); */
    font-weight: bold;
    border: 1px solid #ffffff;
}


td {
    border: 1px solid #ffffff;
    }



.ui.inverted.top.fixed.menu {

}

tr.table-footer {
    background-color: #F9FAFB;
    font-weight: bolder;
}

